[Desktop Entry]
Version=1.0
Type=Application
Name=Mesa CT Documents
Exec=xdg-open /usr/share/doc/mesact/mesact.pdf.gz
Icon=linuxcncicon
Categories=Development;Engineering;X-CNC;
Terminal=false
StartupNotify=true
GenericName=Mesa CT Documents
Comment=View documentation for Mesa CT
